.avaWallpaper {
    height: 146px;
    width: 1016px;
    margin: 2px 2px 2px 2px;
    background-color: cornflowerblue;
}

.discriptionBlock {
    padding: 10px;
}

.avaProfile {
    width: 170px;
    height: 200px;
    background-color: darkred;
    float: left;
    margin: 5px 15px 10px 10px;
}