.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding: 10px;
}

.dialog {

}

.dialogsItems .active {
    color: darkred;
    background-color: slategrey;
}

.messages {
    padding: 10px;
}

.message {

}

a {
    color: beige;
    text-decoration: none;
}